body{
	background-color: #E6E6FB;
	font-size: 20px;
}
#body{
	position: absolute;
	top:80px;
	left:20px;
}
#h1{
	position: relative;
	top:0px;
	left:10px;
}
.form{
	position: relative;
	margin: 20px;
}
.radio{
	padding-left: 20px;
	display: inline-table;
}
.hostelsList{
	margin-left: 30px;
	width: 150px; 
}